<!DOCTYPE html>
<html>
  <head>
    <p id="notice"><%= notice %></p>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>WHERE THE HELL IS TACOBELL???</h1>

    <%= javascript_pack_tag 'map' %>

    <div id="map-container">
      <div id="map"></div>
    </div>

    <div id="floating-panel">
          <input id="address" type="textbox" placeholder="City, State or Zip">
          <input onClick="manual_input_address()" id="submit" type="button" value="Find Carboard food!!!">
    </div>

    <br>

    <%= link_to 'Add a taco hell', new_place_path %>

  </body>

</html>
